.table-responsive {
  min-height: .01%;
  overflow-x: auto;
}

@media screen and (max-width:960px) {
  .table-responsive {
    width: 100%;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }

  .table-responsive>table {
    margin-bottom: 0
  }

  .table-responsive>table>tbody>tr>td,
  .table-responsive>table>tbody>tr>th,
  .table-responsive>table>tfoot>tr>td,
  .table-responsive>table>tfoot>tr>th,
  .table-responsive>table>thead>tr>td,
  .table-responsive>table>thead>tr>th {
    white-space: nowrap
  }
}